.info-div {
	width: 94%;
	border-radius: 10px;
	font-weight: bold;
	color: #305972;
	font-size: 30px;
	margin-bottom: 25px;
}
body{
	background: #fff
}
.form-div {	
	width: 30%; 
	border: 5px solid #305972;
	border-radius: 10px;
	background: #fafafa; 
	font-weight: bold;
	padding: 30px;
	margin: auto;
}
.input {
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #b0cfe0;
	display: block;
	width: 94%;
	margin: 5px 0 35px 0;
}
input:focus {
	outline: none; 
}
.input-error {
	border: 1px solid red;
}
.input-focus {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.label {
	color: #305972;
}
p, span {
	color:red;
	font-weight: normal;
}		
#vals,#psw2-div,#em-div,#pm-div,#vals-id,#first-name,#last-name {
	display: none;
}
.submit_button {
	display: block;
	background: dodgerblue;
	border-radius: 5px;
	color: white;
	padding: 10px 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 50px auto 0px;
	border: 2px solid dodgerblue;

}
.p-relative{
	position: relative;
}
.error{
	position: absolute;
	bottom: -20px;
}