.calc{
    display: flex;
}
.calc .calc-input{
    margin: 5px 10px;
}
.calc .calc-input label{
    margin-bottom: 10px;
}
.calc .calc-input input{
    margin-top: 10px;
    height: 25px;
    padding: 4px 10px;
    font-size: 16px;
}
button{
    background-color: #000;
    padding: 10px 25px;
    margin: 10px 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    text-transform: uppercase;
}
.add{
    background-color: green !important;
    color: #fff !important;
}
.sub{
    background-color: red !important;
    color: #fff !important;
}
.mul{
    background-color: blue !important;
    color: #fff !important;
}
.div{
    background-color: violet !important;
    color: #fff !important;
}
.doubles{
    background-color: pink !important;
    color: #fff !important;
}
.rem{
    background-color: orange !important;
    color: #fff !important;
}
.concat{
    background-color: orchid !important;
    color: #fff !important;
}
.swap{
    background-color: maroon !important;
    color: #fff !important;
}
.reset{
    background-color: olive !important;
    color: #fff !important;
}
p span{
    font-size: 20px;
    font-weight: 600;
    color: green;
}